footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: white;
}
.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 5px solid rgb(174, 174, 174);
  margin: 0 0 30px 0;
}
.footer-icons {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px 0px 20px;
  cursor: pointer;
}
.footer-icons__img {
  width: 30px;
}
.footer-icons__desc {
  margin-top: 5px;
  font-size: 9px;
  font-weight: bold;
}
